In [ ]:
#Q1. Create one variable containing following type of data:

In [ ]:
#(i) string

In [1]:
a = "rizwan"

In [ ]:
#(ii) list

In [2]:
a = [1,2,3, 'riz' , 23.34 , ('riz','wan'), True]

In [ ]:
#(iii) float

In [5]:
a = 23.34

In [ ]:
#(iv) tuple

In [6]:
a = ( 'riz' , 'wan' , 'ind' , 'data' )

In [ ]:
#Q2. Given are some following variables containing data:

In [ ]:
#(i) var1 = ‘ ‘

In [14]:
a = 'riz'

In [15]:
type(a)

str

In [ ]:
#(ii) var2 = ‘[ DS , ML , Python]’

In [12]:
b = '[ riz,wan,khan ]'

In [13]:
type(b)

str

In [11]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [22]:
c = [ 'riz' , 'ind' , 'data' ]

In [23]:
type(c)

list

In [24]:
#(iv) var4 = 1.

In [25]:
d= 2.4

In [26]:
type(d)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [ ]:
#(i) /

In [27]:
2/4

0.5

In [ ]:
#(ii) %

In [28]:
1%4

1

In [ ]:
#(iv) **

In [29]:
2**3

8

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [35]:
e = [ 56, 1,2, 'riz', 23.23 , ('riz' , 'wan' , 'khan'), True , False , 'riz' , 'dta']
for i in e :
    print(i)
    print (type(i))

56
<class 'int'>
1
<class 'int'>
2
<class 'int'>
riz
<class 'str'>
23.23
<class 'float'>
('riz', 'wan', 'khan')
<class 'tuple'>
True
<class 'bool'>
False
<class 'bool'>
riz
<class 'str'>
dta
<class 'str'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how manytimes it can be divisible.

In [39]:
a=int(input())
b=int(input())
c=0
if a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

 3
 21

not divisible

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [62]:
f = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in f :
    if i%3 :
        print(i)
else :
    print('the element is divisible by 3 or not.')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
the element is divisible by 3 or not.

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showingthis property.

In [ ]:
#mutable

In [65]:
g = [1,2,3,4, 'rizwan', True, 2+ 5j , 12.23]

In [66]:
type(g)

list

In [67]:
g

[1, 2, 3, 4, 'rizwan', True, (2+5j), 12.23]

In [68]:
g[4]

'rizwan'

In [69]:
g[4] = 'khan'

In [70]:
g[4]

'khan'

In [71]:
g

[1, 2, 3, 4, 'khan', True, (2+5j), 12.23]

In [ ]:
#unmutable

In [72]:
h = 'rizwan'

In [73]:
h[2]

'z'

In [74]:
h[2] = w

NameError: name 'w' is not defined